<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-Name Memory Test</title>
    <link rel="stylesheet" type="text/css" href="css/displayFaces.css">
</head>

<body>
    <!-- <div class="header">
        <h1 class="text-center mt-2">Facename Associative memory tasks</h1>
    </div> -->
    <div class="Instruction">
        <h2 class="text-center pt-2" id="current-display">Remember the Faces and the names</h2>
    </div>
    <div class="GridContainer" id="GridContainerDiv">

    </div>
</body>

<script>
    async function renderContent() {
        const AllImages = '<%= images %>'.split(','),
            figcaptions = '<%= figcaptions %>'.split(',');
        console.log("All Images: ", AllImages);
        for (let i = 0; i < AllImages.length; i += 4) {
            const imageSet = AllImages.slice(i, i + 4)
            console.log("Image Set: ", imageSet);
            let figcaptionSet = figcaptions.slice(i, i + 4)
            if (figcaptionSet.length != 4) {
                figcaptionSet = ["", "", "", ""]
            }
            console.log("Figcaption Set: ", figcaptionSet);
            const imageGridCode = `
        <div class="ImageGrid">
            <div class="GridItem-left">
                <figure>
                    <img class="image" src="facename/assets/${imageSet[0]}">
                    <figcaption>${figcaptionSet[0]}</figcaption>
                </figure>
            </div>  
            <div class="GridItem-right">
                <figure>
                    <img class="image" src="facename/assets/${imageSet[1]}">
                    <figcaption>${figcaptionSet[1]}</figcaption>
                </figure>
            </div>
            <div class="GridItem-left">
                <figure>
                    <img class="image" src="facename/assets/${imageSet[2]}">
                    <figcaption>${figcaptionSet[2]}</figcaption>
                </figure>
            </div>  
            <div class="GridItem-right">
                <figure>
                    <img class="image" src="facename/assets/${imageSet[3]}">
                    <figcaption>${figcaptionSet[3]}</figcaption>
                </figure>
            </div>
        </div>
        `
            const GridContainer = document.getElementById('GridContainerDiv')
            console.log("Grid Container: ", GridContainer);
            GridContainer.innerHTML = imageGridCode
            await new Promise(r => setTimeout(r, 2000));
        }

        const redirectURL = "<%= redirectURL %>"
        window.location.replace(redirectURL)
    }
    renderContent()
</script>


</html>