<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face-Name Memory Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/displayFaces.css">
</head>
<body>
    <!-- <div class="header">
        <h1 class="text-center mt-2">Facename Associative memory tasks</h1>
    </div> -->
    <div class="Instruction">
        <h2 class="text-center pt-2" id="current-display">Remember the Faces</h2>
    </div>
    <div class="GridContainer">
        <div class="ImageGrid">
            <div class="GridItem-left">
                <figure>
                    <!-- <img src="https://picsum.photos/150/200"> -->
                    <img class="image" src="facename/assets/male3.jpeg">
                    <figcaption>Caption-1</figcaption>
                </figure>
            </div>  
            <div class="GridItem-right">
                <figure>
                    <img class="image" src="facename/assets/male4.jpeg">
                    <figcaption>Caption-2</figcaption>
                </figure>
            </div>
            <div class="GridItem-left">
                <figure>
                    <img class="image" src="facename/assets/male5.jpeg">
                    <figcaption>Caption-3</figcaption>
                </figure>
            </div>  
            <div class="GridItem-right">
                <figure>
                    <img class="image" src="facename/assets/male6.jpeg">
                    <figcaption>Caption-4</figcaption>
                </figure>
            </div>
        </div>
    </div>
</body>
</html>