<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{background: #000000;
        box-sizing: border-box;
        width: 100%;}
        #mydiv12{font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
		color:rgb(0,255,255);
        position:absolute;
    	top: 50%;
    	left: 50%;
    	width:60em;
    	height:25em;
    	margin-top: -14em; 
		padding-top: 2em;
    	margin-left: -30em; 
		border: 2px solid #ccc;
		border-radius: 18px;}

        .button3 {
		background-color: white; 
		color: black; 
		border: 3px solid #4CAF50;
		width: 250px;
        height: 150px;
		padding: 10px;
		text-align: center;
		display: inline-block;
		font-size: 25px;
        font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
        margin-top: 70px;
		margin-left: 152px;
		cursor: pointer;
		border-radius: 12px;
		transition-duration: 0.4s;
		}

		.button3:hover {
		background-color: #4CAF50; /* Green */
		color: white;
        }
        </style>
</head>
<body>
    <div id="mydiv12">
        <h1 style="text-align:center">Memory Assessment Tasks</h1>
        <button class="button3" onclick="window.location.href='/corsiblocktapping'">Corsi Block Tapping Task</button>
        <button class="button3" onclick="window.location.href='/face-name'">Face Memory Association Task</button>
    </div>

</body>
</html>