<html>

<head>
    <title>Check JS</title>
    <style>
        div.justify {
            display: flex;
            justify-content: center;
            height: 380px;
        }
    
        div.center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .button3 {
        background-color: white; 
		color: black; 
		border: 3px solid #4CAF50;
		width: 90px;
        height: 40px;
		padding: 5px;
		text-align: center;
		display: inline-block;
		font-size: 16px;
        font-family: 'Georgia,Cambria,"Times New Roman",Times,serif';
        margin-top: 10px;
		margin-left: 12px;
		cursor: pointer;
		border-radius: 12px;
		transition-duration: 0.4s;
		}

		.button3:hover {
		background-color: #4CAF50; /* Green */
		color: white;
        }
    </style>
</head>

<body style="background-color: black;">

    <h3 style="color: cyan;" align="center">Enter as many Occupations as you can recall, each in a new line.</h3>

    <form action="<%= formSubmitURL %>" method="POST">
        <label for="occupations"></label>
        <div class="justify">
            <textarea id="occupations" name="occupations" placeholder="Write Occupations Here.." style="height:350px"></textarea>
        </div>
        <div class="center">
        <button class="button3" type="submit">SUBMIT</button></div>
    </form>

</body>

</html>