<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memory Test | Wait</title>
</head>
<body style="background-color: black;">
    <div style="color: cyan; text-align: center; margin-top: 100px; font-size: 25px;">Second round of tests start in <span id="time">01:00</span> minutes!</div>
</body>
<script>
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);
    
            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;
    
            display.textContent = minutes + ":" + seconds;
    
            if (--timer < 0) {
                timer = duration;
            }
        }, 1000);
    }
    
    window.onload = function () {
        var oneMinute = 60 , display = document.querySelector('#time'), thirtyMinutes = 60 * 30;
        startTimer(oneMinute, display);
        setTimeout(function(){
            console.log("Done!")
            const redirectURL = "<%= redirectURL %>"
            window.location.replace(redirectURL)
        }, oneMinute*1000)
    };
</script>
</html>